body, html{
	margin: 0px;
	padding:0px;
	font-family: Arial, Helvetica, sans-serif;
	height: 100%;
	background-color: #6b6b6b;
}

body {
	margin: 130px 0px 0px 0px;
}

h1, h2, h3, h4, h5, h6, p, a {
	text-shadow: 0px 0px 0px rgba(0,0,0,1);
}
h1, h2 {
	font-weight: 600;
}
h3 {
	font-weight: 500;
	font-size: 30px;
}
h4 {
	padding-top: 4%;
	color: #d4b12b;
	font-size: 20px;
}
h1, h2, h3 {
	color: #d4b12b;
}
.content-header > h1, 
.content-header > h2, 
.content-header > h3 {
	padding-bottom: 2%;
}

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

ul > li {
	list-style: none;
}

.construction-text .construction-lead-in {
	font-size: 20px;
	color: #d4b12b;
	background-color: black;
	opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
    max-width: 100%;
}

.construction-text a:hover {
	text-decoration: none;
}

.splash-image {
	max-height: 100%;
	max-width: 100%;
}

.embedded-video, iframe, object, embed {
	max-height: 100%;
	max-width: 100%;
}

.menu-text{
	color: #f8f6f6;
	font-family: "brandon-grotesque";
	font-size: 20px;
	line-height: 1.8em;
	font-weight: 100;
	font-style: normal;
	letter-spacing: .015em;
}

.aboutus-text {
	color: #f8f6f6;
	line-height: 2em;
}

.content-block {
	padding-top: 2%;
	padding-bottom: 2%;
}

.col-centered {
	float: none;
    margin: 0 auto;
    text-align: center;
}

.games-text > ul > li {
	font: 20px;
}

.anchor {
	position: relative;
	display: block;
	top: -160px;
}

.zebra-stripe {
	background: #606060;
}

.splash-background {
	background: #3b3838;
}

.social-icons {
	height: 100px;
}

.mobile-brand {
	font-family: simson;
	font: 20px;
	color: #d4b12b;
	height: 20px;
	width: 20px;
}

.shrink {
		padding: 50px 20px;
}

#map {
	height: 50vh;
}

		/*miller - verb first modifiers after*/
		/*Block  - element - modifier 
		nav 		link 		blue */
		/*when width is > 768px these styles will apply*/
@media (min-width:768px) { 
	.navbar-nav .nav-link { 
		padding: 50px 20px;
	}
}

@media (max-width:768px) {
	.anchor {
		top: -80px;
	}
	
	body {
		margin: 60px 0px 0px 0px;
	}
}