/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(../vendor/bootstrap.min.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul, li {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.navbar-inverse {
  background-color: #3b3838; }

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  background-color: #3b3838; }

.navbar-inverse .navbar-nav > li > a {
  color: #d4b12b; }

.navbar-logo {
  max-height: 5.3em; }

.navbar-nav > li > a {
  display: flex;
  align-items: center;
  font-size: 1.4em; }

.col-centered {
  float: none;
  margin: 0 auto; }

.row-centered {
  margin-left: 0px;
  margin-right: 0px; }

header {
  text-align: center;
  color: white; }

body, html {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  background-color: #6b6b6b; }

body {
  margin: 12em 0 0 0; }

.br-hero {
  font-size: 3em;
  text-shadow: 0 0 0 black;
  font-weight: 600; }

a.link {
  color: #f8f6f6;
  text-decoration: underline; }

.header, .menu-header {
  color: #d4b12b; }

.menu-header {
  margin: 1em 0;
  font-weight: 500;
  font-size: 2em;
  text-align: center; }

.about-header-4 {
  color: #d4b12b;
  font-size: 20px; }

.drink-name {
  margin-top: .5em;
  padding: 2%, 0, 2%, 0;
  color: #d4b12b;
  font-size: 20px; }

h1, h2, h3 {
  color: #d4b12b; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.center {
  text-align: center; }

.splash-image {
  max-height: 100%;
  max-width: 100%; }

.text-block {
  color: #f8f6f6;
  font-size: 1.2em;
  line-height: 2em;
  font-weight: 100;
  font-style: normal;
  letter-spacing: .015em; }

.small-text, .flavor-text {
  color: #f8f6f6;
  font-size: .5em;
  line-height: 2em; }

.flavor-text {
  color: #d4b12b; }

.content-block {
  padding: 2%, 0, 2%, 0; }

.padding-medium {
  padding-top: 5%; }

.col-centered {
  float: none;
  margin: 0 auto;
  text-align: center; }

.games-text > ul > li {
  font: 20px; }

.anchor {
  position: relative;
  display: block;
  top: -160px; }

.zebra-stripe {
  background: #606060; }

.splash-background {
  background: #3b3838; }

.social-icons {
  height: 100px;
  opacity: 0.8; }

.icon-black {
  color: black;
  opacity: 0.8; }

.info {
  color: white; }

.gold {
  color: #d4b12b; }

.mobile-brand {
  font-family: simson;
  font: 20px;
  color: #d4b12b;
  height: 20px;
  width: 20px; }

.navbar-brand-mobile {
  max-height: 50px;
  max-width: 50px;
  margin: 15px 0px 0px 10px; }

.shrink {
  padding: 50px 20px; }

.event-card {
  height: 15em;
  font-size: 20px;
  width: 23em;
  background-color: #AAA;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  margin: 2em .5em; }

#map {
  height: 55vh; }

/*miller - verb first modifiers after*/
/*Block  - element - modifier
nav 		link 		blue */
/*when width is > 768px these styles will apply*/
@media (min-width: 768px) {
  .navbar-nav .nav-link {
    padding: 50px 20px; } }
@media (max-width: 768px) {
  .anchor {
    top: -80px; }

  body {
    margin: 60px 0px 0px 0px; } }

/*# sourceMappingURL=style.css.map */
