@import 'variables';
@import 'reset.scss';
@import '../vendor/bootstrap.min.css';
@import 'bootstrap-custom';

body, html {
  font-size: $font-size;
	font-family: 'Roboto', sans-serif;
	height: 100%;
	background-color: $primary-background-color;
}

body {
  margin: 12em 0 0 0;
}

.br-hero {
  font-size: 3em;
  text-shadow: 0 0 0 rgba(0,0,0,1);
  font-weight: 600;
}

// Only used on 'contact us' section to indicate link
a.link {
	color: $white-text;
	text-decoration: underline;
}

.header {
  color: $br-gold;
}

.menu-header {
  @extend .header;
	margin: 1em 0;
	font-weight: 500;
	font-size: 2em;
	text-align: center;
}

.about-header-4 {
	color: $br-gold;
	font-size: 20px;
}

.drink-name {
	margin-top: .5em;
	padding: 2%, 0, 2%, 0;
	color: $br-gold;
	font-size: 20px;
}

h1, h2, h3 {
	color: $br-gold;
}

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.center {
  text-align: center;
}

.splash-image {
	max-height: 100%;
	max-width: 100%;
}

.text-block{
	color: $white-text;
	font-size: 1.2em;
	line-height: 2em;
	font-weight: 100;
	font-style: normal;
	letter-spacing: .015em;
}

.small-text{
	color: #f8f6f6;
	font-size: .5em;
	line-height: 2em;
}

.flavor-text {
  @extend .small-text;
  color: $br-gold;
}

.content-block {
	padding: 2%, 0, 2%, 0;
}

.padding-medium {
	padding-top: 5%;
}

.col-centered {
	float: none;
    margin: 0 auto;
    text-align: center;
}

.games-text > ul > li {
	font: 20px;
}

.anchor {
	position: relative;
	display: block;
	top: -160px;
}

.zebra-stripe {
	background: #606060;
}

.splash-background {
	background: #3b3838;
}

.social-icons {
	height: 100px;
	opacity: 0.8;
}

.icon-black {
	color: black;
	opacity: 0.8;
}

.info {
	color: white;
}

.gold {
	color: $br-gold;
}

.mobile-brand {
	font-family: simson;
	font: 20px;
	color: $br-gold;
	height: 20px;
	width: 20px;
}

.navbar-brand-mobile {
	max-height: 50px;
	max-width: 50px;
	margin: 15px 0px 0px 10px;
}

.shrink {
		padding: 50px 20px;
}

.event-card {
	height: 15em;
  font-size: 20px;
  width: 23em;
  background-color: #AAA;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  margin: 2em .5em;
}

#map {
	height: 55vh;
}

		/*miller - verb first modifiers after*/
		/*Block  - element - modifier
		nav 		link 		blue */
		/*when width is > 768px these styles will apply*/
@media (min-width:768px) {
	.navbar-nav .nav-link {
		padding: 50px 20px;
	}
}

@media (max-width:768px) {
	.anchor {
		top: -80px;
	}

	body {
		margin: 60px 0px 0px 0px;
	}
}
